#wrapper {
    position: absolute;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 30px;
}


#heart {
    position: relative;
    width: 100px;
    height: 60px;
    display: inline-block;
    /* border: 1px solid black; */
}

#heart::before,
#heart::after {
    position: absolute;
    content: " ";
    left: 50px;
    top: 0px;
    width: 50px;
    height: 80px;
    background: #aa0000;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

#heart::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}