article h1 {
  color: red;
}

article h2 {
  color: blue;
}

article p {
  color: green;
}

.box {
  width: 960px;
}

@media (min-width: 1280px) {
  .box {
    width: 800px;
  }
}

#text-1 {
  color: blue;
  font-size: 16px;
}

#text-2 {
  color: blue;
  font-size: 18px;
}

